.button {
  display: block;
  width: 280px;
  padding-top: 14px;
  padding-bottom: 11px;

  font-family: @font-title;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;

  background-color: @main-color;
}

@media (min-width: @tablet-width) {
  .button {
    width: 245px;
    padding-top: 17px;
    padding-bottom: 15px;
  }
}
