.button {
  display: inline-block;
  width: 280px;
  padding: 11px 20px;

  font-weight: @regular;
  font-family: @font-title;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-white;

  background-color: @color-main-bg;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: fade(@color-white, 30%);

    background-color: #5eaa2f;
  }

  @media (min-width: @tablet-width) {
    padding: 15px 20px;
  }
}
