.catalogs-intro {
  padding-right: 20px;
  padding-left: 20px;

  font-size: 14px;
  line-height: 18px;
}

.catalogs-intro__list {
  .list-reset();
}

.catalogs-intro__item {
  background-color: @light-bgc;
}

.catalogs-intro__title {
  font-family: @font-title;
  font-weight: @regular;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: @color-title;
}

.catalogs-intro__to-catalog {
  font-family: @font-title;
  font-weight: @regular;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: @color-title;
}
