.catalog {
  font-size: 12px;
  line-height: 16px;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  @media (min-width: @tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.catalog__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    .container();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 1px solid #ededed;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    margin-bottom: 140px;
    padding-top: 165px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;

    border-bottom: none;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;

    margin-bottom: 142px;

    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}

.catalog__wrapper {
  .container();

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.catalog__description {
  width: 50%;
}

.catalog__title {
  width: 72px;
  margin: 0 0 18px 0;

  font-family: @font-title;
  font-weight: @regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-title;

  a {
    text-decoration: none;
    color: @color-title;
  }
}

.catalog__picture {
  order: -1;
  margin: 0;

  line-height: 0;
}

.catalog__image-link {
  display: inline-block;
  width: 140px;
  height: 144px;
}

.catalog__to-buy {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
}

.catalog__item--more-block {
  padding-top: 83px;
  padding-bottom: 25px;

  text-align: center;

  @media (min-width: @tablet-width) {
    padding-top: 166px;
    padding-bottom: 40px;
  }
}

.catalog__more-text {
  position: relative;

  width: 100%;
  margin: 0 0 11px 0;

  svg {
    position: absolute;
    top: -56px;
    left: calc(50% - 15px);

    width: 30px;
    height: 30px;

    path {
      fill: @color-light-bg;
    }
  }
}

.catalog__more-bold {
  font-family: @font-title;
  font-weight: @regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-title;
}

.catalog__text {
  width: 100%;
  margin: 0 0 20px 0;
}

.catalog__more-button {
  width: 100%;

  color: @color-main;

  background-color: @color-light-bg;
}
