.catalog {
  font-size: 12px;
  line-height: 16px;

  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  @media (min-width: @tablet-width) {
    border-top: none;
    border-bottom: none;
  }
}

.catalog__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    .container();

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog__item {
  padding-bottom: 25px;

  border-bottom: 1px solid #ededed;

  &:last-child {
    border-bottom: none;
  }

  @media (min-width: @tablet-width) {
    width: 324px;
    margin-bottom: 140px;
    padding-top: 165px;
    padding-right: 38px;
    padding-bottom: 40px;
    padding-left: 38px;

    border-bottom: none;

    &:last-child,
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;

    margin-bottom: 142px;

    &:nth-last-child(3),
    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}

.catalog__item--more-block {
  padding-top: 83px;
  padding-bottom: 25px;

  @media (min-width: @tablet-width) {
    padding-top: 166px;
    padding-bottom: 40px;
  }
}

.catalog__wrapper {
  @media (max-width: @tablet-width) {
    .container();
  }
}

.catalog__title {
  font-family: @font-title;
  font-weight: @regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-title;

  a {
    text-decoration: none;
    color: @color-title;
  }
}

.catalog__to-buy {
  padding-top: 13px;
  padding-bottom: 12px;

  font-size: 16px;
  line-height: 20px;
}

.catalog__more-bold {
  font-family: @font-title;
  font-weight: @regular;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-title;
}

.catalog__more-button {
  color: @color-main;

  background-color: @color-light-bg;
}
