.description {
  padding: 15px 0 42px 0;

  font-size: 14px;
  line-height: 18px;

  counter-reset: description;

  @media (min-width: @tablet-width) {
    padding: 48px 0 102px 0;

    font-size: 16px;
    line-height: 24px;

    border-bottom: 1px solid @color-light-bg;
  }

  @media (min-width: @desktop-width) {
    border-bottom-color: transparent;
  }
}

.description__wrapper {
  .container();
}

.description__title {
  margin-bottom: 28px;

  @media (min-width: @tablet-width) {
    margin-bottom: 181px;
  }
}

.description__list {
  .list-reset();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.description__item {
  position: relative;

  display: flex;
  align-items: center;
  width: 98%;
  min-height: 60px;
  margin-bottom: 20px;
  padding-left: 80px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    width: 60px;
    height: 60px;

    background-color: @color-main-bg;
    background-position: center center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-size: 50px auto;
    }
  }

  &--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-leaf@2x.png");
      }
    }
  }

  &--water {
    &::before {
      background-image: url("../img/advantage-powder@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-powder@2x.png");
      }
    }
  }

  &--tableware {
    &::before {
      background-image: url("../img/advantage-dining@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-dining@2x.png");
      }
    }
  }

  &--clock {
    &::before {
      background-image: url("../img/advantage-clock@1x.png");

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/advantage-clock@2x.png");
      }
    }
  }

  @media (min-width: @tablet-width) {
    display: list-item;
    width: 34.6%;
    margin-right: 80px;
    padding-left: 0;
    margin-bottom: 245px;

    counter-increment: description;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    &::before {
      top: -112px;

      width: 80px;
      height: 80px;
    }

    &:first-child {
      &::after {
        left: 42.6%;
      }
    }

    &::after {
      content: counter(description);

      position: absolute;
      z-index: -1;
      top: -140px;
      left: 46.4%;

      font-family: @font-title;
      font-weight: @regular;
      font-size: 281px;
      line-height: 281px;
      color: @color-light-bg;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    margin-right: 0;

    &:nth-last-child(3) {
      margin-bottom: 0;
    }

    &:nth-last-child(4) {
      margin-bottom: 0;
    }
  }
}
