.description {
  padding-top: 32px;
  padding-bottom: 47px;

  font-size: 14px;
  line-height: 18px;
}

.description__title {
  margin-bottom: 41px;
}

.description__list {
  .list-reset();
}

.description__item {
  margin-bottom: 32px;
  padding-left: 80px;
}

.description__item:last-child {
  margin-bottom: 0;
}

@media (min-width: @tablet-width) {
  .description {
    padding-bottom: 105px;

    font-size: 16px;
    line-height: 24px;
  }

  .description__title {
    margin-bottom: 180px;
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
  }

  .description__item {
    width: 245px;
    padding-left: 0;
    margin-bottom: 254px;
  }

  .description__item:nth-child(odd) {
    margin-right: 139px;
  }

  .description__item:last-child,
  .description__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .description__list {
    justify-content: space-between;
  }

  .description__item {
    margin-bottom: 0;
  }
  .description__item:nth-child(odd) {
    margin-right: 0;
  }
}
