.logo {
  display: inline-block;
}

.logo__image {
  width: 191px;
  height: 39px;

  vertical-align: bottom;

  @media (min-width: @tablet-width) {
    width: 174px;
    height: 59px;
  }

  @media (min-width: @desktop-width) {
    width: 203px;
    height: 60px;
  }
}
