.main-intro {
  margin-bottom: 197px;

  font-family: @font-title;
  font-weight: @regular;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @color-white;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;

    font-size: 20px;
    line-height: 20px;
  }
}

.main-intro__bg-wrapper {
  width: 100%;
  height: 305px;
  padding-top: 29px;

  background-color: #63a837;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-width: @tablet-width) {
    height: auto;
  }

  @media (min-width: @desktop-width) {
    padding-top: 142px;
    padding-bottom: 55px;
  }
}

.main-intro__wrapper {
  .container();

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    padding-left: 120px;

    text-align: left;
  }

  @media (min-width: @desktop-width) {
    flex-wrap: wrap;
    align-content: flex-start;
    height: 696px;
    padding-left: 193px;
  }
}

.main-intro__title {
  margin: 0;
  margin-bottom: 19px;

  font-weight: @regular;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: @tablet-width) {
    width: 414px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    z-index: 1;
  }
}

.main-intro__slogan {
  margin-bottom: 29px;

  b {
    font-weight: @regular;
  }

  @media (min-width: @tablet-width) {
    margin-bottom: 48px;

    font-size: 20px;
    line-height: 20px;
  }
}

.main-intro__intro-picture {
  margin: 0;
  margin-bottom: 3px;

  width: 280px;
  height: 270px;

  @media (min-width: @tablet-width) {
    order: 1;
    width: 709px;
    height: 609px;
    margin-top: -80px;
  }

  @media (min-width: @desktop-width) {
    width: 552px;
    height: 499px;
    margin: 0;
    margin-left: -43px;
  }
}

.main-intro__to-form {
  line-height: 18px;

  @media (min-width: @tablet-width) {
    z-index: 1;

    width: 245px;
  }
}
