.main-intro {
  padding-bottom: 22px;

  font-family: @font-title;
  font-weight: @regular;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: @color-white;
}

.main-intro__bg-wrapper {
  padding-top: 29px;
  padding-right: 20px;
  padding-bottom: 167px;
  padding-left: 20px;

  background-color: #63a837;
	background-image: url("../img/index-background-mobile@1x.jpg");
	background-position: center center;
	background-repeat: no-repeat;
}

.main-inro__title {
  font-size: 36px;
  line-height: 36px;
}

.main-intro__to-form {
  line-height: 18px;
}
