.mini-footer {
  padding-top: 39px;
  padding-bottom: 22px;

  font-size: 14px;
  line-height: 20px;

  background-color: @color-light-bg;

  @media (min-width: @tablet-width) {
    padding: 58px 0;
  }

  @media (min-width: @desktop-width) {
    padding-top: 60px;
    padding-bottom: 56px;
  }
}

.mini-footer__wrapper {
  .container();

  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.mini-footer__logo {
  margin-bottom: 31px;

  @media (min-width: @tablet-width) {
    margin: 0;
  }
}

.mini-footer__social {
  margin-bottom: 22px;

  @media (min-width: @tablet-width) {
    margin: 0;
    flex-grow: 1;
  }
}

.mini-footer__copyright {
  width: 100%;
  margin: 0;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.mini-footer__copyright-link {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: @color-main;

  &:hover .mini-footer__copyright-logo,
  &focus .mini-footer__copyright-logo{
    fill: @color-main-bg;
  }

  &:active .mini-footer__copyright-logo {
    fill: @color-main-bg;

    opacity: 0.3;
  }
}

.mini-footer__copyright-logo {
  width: 27px;
  height: 34px;

  fill: #666666;

  @media (min-width: @tablet-width) {
    margin-left: 16px;
  }
}
