.page-main__wrapper {
  .container();
}

.page-main__title {
  margin-top: 17px;
  margin-bottom: 26px;

  @media (min-width: @tablet-width) {
    margin-top: 56px;
    margin-bottom: 161px;
  }

  @media (min-width: @desktop-width) {
    margin-top: 70px;
    margin-bottom: 162px;
  }
}
