.social {
  width: 100%;
  padding: 22px 0;

  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (min-width: @tablet-width) {
    width: auto;
    padding: 0;

    border-color: transparent;
  }
}

.social__list {
  .list-reset();

  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12px;

  @media (min-width: @tablet-width) {
    padding: 0 0 0 19px;
  }
}

.social__item {
  display: flex;
}

.social__item + .social__item {
  margin-left: 14.2%;

  @media (min-width: @tablet-width) {
    margin-left: 6.9%;
  }

  @media (min-width: @desktop-width) {
    margin-left: 28px;
  }
}

.social__link {
  display: flex;

  &:hover .social__icon,
  &:focus .social__icon {
    color: @color-main-bg;
  }

  &:active .social__icon {
    color: @color-main-bg;

    opacity: 0.3;
  }
}

.social__icon {
  color: #666666;

  &--vk {
    width: 22px;
    height: 18px;
  }

  &--insta {
    width: 17px;
    height: 17px;
  }

  &--fb {
    width: 10px;
    height: 19px;
  }

  @media (min-width: @tablet-width) {
    &--vk {
      width: 30px;
      height: 16px;
    }

    &--insta {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}
