@font-main: Arial, sans-serif;
@font-title: "Oswald", Arial Black, sans-serif;
@regular: 400;
@medium: 500;
@color-main: #444444;
@color-title: #111111;
@color-white: #ffffff;

@main-color: #68b738;
@light-bgc: #f2f2f2;
