@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Oswald"), local("Oswald-Regular"), url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
}
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Oswald Medium"), local("Oswald-Medium"), url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
}
body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-weight: 400;
  color: #444444;
  text-align: left;
  background-color: #ffffff;
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  border: 0;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  width: 280px;
  padding: 11px 20px;
  font-weight: 400;
  font-family: "Oswald", Arial Black, sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
}
.button:hover,
.button:focus {
  background-color: #5eaa2f;
}
.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5eaa2f;
}
.button--light {
  color: #444444;
  background-color: #f2f2f2;
}
.button--light:hover,
.button--light:focus {
  background-color: #ebebeb;
}
.button--light:active {
  color: rgba(68, 68, 68, 0.3);
  background-color: #ebebeb;
}
@media (min-width: 768px) {
  .button {
    padding: 15px 20px;
  }
}
.section-title {
  margin: 0;
  font-family: "Oswald", Arial Black, sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 60px;
  text-decoration: none;
  color: #111111;
}
@media (min-width: 768px) {
  .section-title {
    font-size: 60px;
  }
}
.page-main__wrapper {
  margin: 0 auto;
  padding: 0 6.25%;
}
@media (min-width: 768px) {
  .page-main__wrapper {
    padding: 0 3.91%;
  }
}
@media (min-width: 1440px) {
  .page-main__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
.page-main__title {
  margin-top: 31px;
  margin-bottom: 35px;
}
@media (min-width: 768px) {
  .page-main__title {
    margin-top: 65px;
    margin-bottom: 156px;
  }
}
@media (min-width: 1440px) {
  .page-main__title {
    margin-top: 83px;
    margin-bottom: 156px;
  }
}
.page-header {
  padding-top: 11px;
  background-color: #ffffff;
  border-bottom: 1px solid #e7e7e7;
}
@media (min-width: 768px) {
  .page-header {
    padding-top: 24px;
    border-bottom-color: transparent;
  }
}
@media (min-width: 1440px) {
  .page-header {
    padding-top: 53px;
    background-color: transparent;
  }
}
@media (min-width: 1440px) {
  .page-header--index-page {
    position: absolute;
    left: calc((100% - 1440px) / 2);
    z-index: 1;
  }
}
@media (min-width: 768px) {
  .page-header__wrapper {
    margin: 0 auto;
    padding: 0 6.25%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .page-header__wrapper {
    padding: 0 3.91%;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .page-header__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
.page-header__logo {
  margin-bottom: 15px;
  margin-left: 6.25%;
}
@media (min-width: 768px) {
  .page-header__logo {
    margin: 0;
  }
}
.logo {
  display: inline-block;
}
.logo:hover,
.logo:focus {
  opacity: 0.8;
}
.logo:active {
  opacity: 0.6;
}
.logo__image {
  width: 191px;
  height: 39px;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .logo__image {
    width: 174px;
    height: 59px;
  }
}
@media (min-width: 1440px) {
  .logo__image {
    width: 203px;
    height: 60px;
  }
}
.main-nav {
  position: relative;
  font-family: "Oswald", Arial Black, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .main-nav {
    width: 63%;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
    text-transform: uppercase;
    color: #222222;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    width: 610px;
    padding-left: 10px;
    font-size: 20px;
    color: #ffffff;
  }
}
.main-nav__toggle {
  position: absolute;
  top: -43px;
  right: 6.25%;
  padding: 0;
  display: block;
  background-color: transparent;
  cursor: pointer;
  border: none;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}
.main-nav--closed .main-nav__toggle {
  width: 25px;
  height: 19px;
  background-image: url("../../img/icon-mobile-menu.svg");
  background-position: 0 0;
  background-size: 25px 19px;
}
@media (max-width: 767px) {
  .main-nav--closed .main-nav__list {
    display: none;
  }
}
.main-nav--opened .main-nav__toggle {
  width: 19px;
  height: 19px;
  background-image: url("../../img/icon-close.svg");
  background-position: 0 0;
  background-size: 19px 19px;
}
.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.main-nav__item {
  padding: 24px 0;
  border-top: 1px solid #e7e7e7;
}
.main-nav__item:first-child {
  margin-left: 0;
}
@media (min-width: 768px) {
  .main-nav__item {
    margin-left: 36px;
    padding: 19px 0;
    border-top-color: transparent;
  }
}
@media (min-width: 1440px) {
  .main-nav__item {
    padding: 20px 0;
  }
}
.main-nav__link {
  text-decoration: none;
  color: #111111;
}
.main-nav__link[href]:hover,
.main-nav__link[href]:focus {
  opacity: 0.6;
}
.main-nav__link[href]:active {
  opacity: 0.3;
}
@media (min-width: 768px) {
  .main-nav__link {
    color: #222222;
  }
}
@media (min-width: 1440px) {
  .main-nav__link {
    color: #111111;
  }
}
.main-nav__item--active .main-nav__link {
  padding-bottom: 7px;
  border-bottom: 2px solid #68b738;
}
@media (min-width: 768px) {
  .main-nav__item--active .main-nav__link {
    padding-bottom: 10px;
  }
}
@media (min-width: 1440px) {
  .main-nav__item--active .main-nav__link {
    border-bottom-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .main-nav--index-page .main-nav__link {
    color: #ffffff;
  }
}
@media (min-width: 1440px) {
  .main-nav--index-page .main-nav__item--active .main-nav__link {
    border-bottom-color: #ffffff;
  }
}
.main-intro {
  padding-bottom: 22px;
  font-family: "Oswald", Arial Black, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
}
@media (min-width: 768px) {
  .main-intro {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }
}
@media (min-width: 1440px) {
  .main-intro {
    position: relative;
    min-height: 696px;
    padding-top: 226px;
    padding-bottom: 50px;
  }
  .main-intro::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #63a837;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-position: center left;
    background-repeat: no-repeat;
  }
}
@media (min-width: 1440px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1440px) and (min-resolution: 144dpi), (min-width: 1440px) and (min-resolution: 1.5dppx) {
  .main-intro::before {
    background-image: url("../img/index-background-desktop@2x.jpg");
    background-size: 720px auto;
  }
}
@media (min-width: 768px) {
  .main-intro__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 1440px) {
  .main-intro__wrapper {
    margin: 0 auto;
    padding: 0 6.25%;
    position: relative;
  }
}
@media (min-width: 1440px) and (min-width: 768px) {
  .main-intro__wrapper {
    padding: 0 3.91%;
  }
}
@media (min-width: 1440px) and (min-width: 1440px) {
  .main-intro__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
.main-intro__bg-mobile-wrapper {
  min-height: 305px;
  padding-top: 29px;
  padding-bottom: 138px;
  background-color: #63a837;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-position: center center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .main-intro__bg-mobile-wrapper {
    background-image: url("../img/index-background-mobile@2x.jpg");
    background-size: 320px auto;
  }
}
@media (min-width: 768px) {
  .main-intro__bg-mobile-wrapper {
    min-height: auto;
    margin-left: 11.73%;
    margin-bottom: 48px;
    padding: 60px 0 0 0;
    background: #ffffff;
  }
}
@media (min-width: 1440px) {
  .main-intro__bg-mobile-wrapper {
    margin: 0 0 53px 83px;
    padding: 0;
    background: transparent;
  }
}
.main-intro__title {
  width: 78%;
  margin: 0 auto;
  margin-bottom: 19px;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
}
@media (min-width: 768px) {
  .main-intro__title {
    width: 64%;
    margin: 0;
    margin-bottom: 33px;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1440px) {
  .main-intro__title {
    width: 414px;
  }
}
.main-intro__slogan {
  width: 61.9%;
  margin: 15px auto 29px auto;
}
.main-intro__slogan b {
  font-weight: 400;
}
@media (min-width: 768px) {
  .main-intro__slogan {
    width: 36.71%;
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    line-height: 20px;
  }
}
.main-intro__intro-picture {
  margin: -138px auto 3px auto;
}
@media (min-width: 768px) {
  .main-intro__intro-picture {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: -80px auto 0 auto;
  }
}
@media (min-width: 1440px) {
  .main-intro__intro-picture {
    position: absolute;
    top: -84px;
    right: 328px;
    z-index: -1;
    margin: 0;
  }
}
.main-intro__intro-image {
  width: 280px;
  height: 270px;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .main-intro__intro-image {
    width: 709px;
    height: 609px;
  }
}
@media (min-width: 1440px) {
  .main-intro__intro-image {
    width: 552px;
    height: 499px;
  }
}
.main-intro__to-form {
  line-height: 18px;
}
@media (min-width: 768px) {
  .main-intro__to-form {
    z-index: 1;
    width: 245px;
    margin-left: 11.73%;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .main-intro__to-form {
    margin-left: 83px;
  }
}
.catalogs-intro {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
}
@media (min-width: 768px) {
  .catalogs-intro {
    font-size: 16px;
    line-height: 24px;
  }
}
@media (min-width: 1440px) {
  .catalogs-intro {
    margin-top: 80px;
  }
}
.catalogs-intro__wrapper {
  margin: 0 auto;
  padding: 0 6.25%;
}
@media (min-width: 768px) {
  .catalogs-intro__wrapper {
    padding: 0 3.91%;
  }
}
@media (min-width: 1440px) {
  .catalogs-intro__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
.catalogs-intro__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 1440px) {
  .catalogs-intro__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.catalogs-intro__item {
  margin-bottom: 20px;
  padding-top: 39px;
  padding-right: 7.14%;
  padding-bottom: 22px;
  padding-left: 7.14%;
  background-color: #f2f2f2;
}
.catalogs-intro__item:last-child {
  margin: 0;
}
@media (min-width: 768px) {
  .catalogs-intro__item {
    margin-bottom: 30px;
    padding-top: 81px;
    padding-right: 8.76%;
    padding-bottom: 62px;
    padding-left: 7.34%;
  }
}
@media (min-width: 1440px) {
  .catalogs-intro__item {
    width: 570px;
    padding: 81px 0 62px 52px;
  }
  .catalogs-intro__item:last-child {
    margin-bottom: 30px;
  }
}
.catalogs-intro__title {
  position: relative;
  margin: 0 0 36px 0;
  padding-left: 72px;
  font-family: "Oswald", Arial Black, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #111111;
}
.catalogs-intro__title::before {
  content: "";
  position: absolute;
  top: -6px;
  left: 0;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
}
.catalogs-intro__title--cat::after {
  content: "";
  position: absolute;
  top: -8px;
  left: 6px;
  width: 35px;
  height: 50px;
  background-image: url("../img/icon-cat-slim.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.catalogs-intro__title--panther::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -9px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 768px) {
  .catalogs-intro__title {
    margin: 0 0 26px 0;
    padding: 0;
    font-size: 36px;
  }
  .catalogs-intro__title::before {
    top: 11px;
    right: 0;
    left: auto;
    width: 200px;
    height: 200px;
  }
  .catalogs-intro__title--cat::after {
    top: 0;
    right: 30px;
    left: auto;
    width: 141px;
    height: 194px;
  }
  .catalogs-intro__title--panther::after {
    top: 55px;
    right: -32px;
    left: auto;
    width: 268px;
    height: 113px;
  }
}
@media (min-width: 1440px) {
  .catalogs-intro__title {
    margin-bottom: 75px;
    padding-left: 216px;
  }
  .catalogs-intro__title::before {
    top: -32px;
    right: auto;
    left: 0;
    width: 100px;
    height: 100px;
  }
  .catalogs-intro__title--cat::after {
    top: -40px;
    right: auto;
    left: 13px;
    width: 71px;
    height: 97px;
  }
  .catalogs-intro__title--panther::after {
    top: -12px;
    right: auto;
    left: -18px;
    width: 134px;
    height: 57px;
  }
}
.catalogs-intro__description {
  width: 87%;
  margin-bottom: 23px;
}
@media (min-width: 768px) {
  .catalogs-intro__description {
    width: 55%;
    margin-bottom: 61px;
  }
}
@media (min-width: 1440px) {
  .catalogs-intro__description {
    width: 462px;
  }
}
.catalogs-intro__horizontal-divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .catalogs-intro__horizontal-divider {
    display: none;
  }
}
.catalogs-intro__to-catalog {
  display: inline-block;
  margin-top: 20px;
  font-family: "Oswald", Arial Black, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;
}
.catalogs-intro__to-catalog::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 12px;
  margin-top: 3px;
  margin-left: 12px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: center center;
  background-repeat: no-repeat;
}
.catalogs-intro__to-catalog:hover::after,
.catalogs-intro__to-catalog:focus::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
}
.catalogs-intro__to-catalog:active {
  color: rgba(17, 17, 17, 0.3);
}
.catalogs-intro__to-catalog:active::after {
  width: 34px;
  background-image: url("../img/icon-right-arrow-verylong.svg");
  opacity: 0.3;
}
@media (min-width: 768px) {
  .catalogs-intro__to-catalog {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
  }
  .catalogs-intro__to-catalog::after {
    width: 24px;
    height: 11px;
    margin-top: 5px;
    margin-left: 25px;
  }
}
.description {
  padding-top: 32px;
  padding-bottom: 47px;
  font-size: 14px;
  line-height: 18px;
  counter-reset: description;
}
@media (min-width: 768px) {
  .description {
    padding-bottom: 105px;
    font-size: 16px;
    line-height: 24px;
  }
}
.description__wrapper {
  margin: 0 auto;
  padding: 0 6.25%;
}
@media (min-width: 768px) {
  .description__wrapper {
    padding: 0 3.91%;
  }
}
@media (min-width: 1440px) {
  .description__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
.description__title {
  margin-bottom: 41px;
}
@media (min-width: 768px) {
  .description__title {
    margin-bottom: 180px;
  }
}
.description__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .description__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.description__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 98%;
  min-height: 60px;
  margin-bottom: 32px;
  padding-left: 80px;
}
.description__item:last-child {
  margin-bottom: 0;
}
.description__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description__item::before {
    background-size: 50px auto;
  }
}
.description__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description__item--leaf::before {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}
.description__item--water::before {
  background-image: url("../img/advantage-powder@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description__item--water::before {
    background-image: url("../img/advantage-powder@2x.png");
  }
}
.description__item--tableware::before {
  background-image: url("../img/advantage-dining@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description__item--tableware::before {
    background-image: url("../img/advantage-dining@2x.png");
  }
}
.description__item--clock::before {
  background-image: url("../img/advantage-clock@1x.png");
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .description__item--clock::before {
    background-image: url("../img/advantage-clock@2x.png");
  }
}
@media (min-width: 768px) {
  .description__item {
    display: list-item;
    width: 34.46%;
    margin-right: 81px;
    padding-left: 0;
    margin-bottom: 254px;
    counter-increment: description;
  }
  .description__item:nth-last-child(2) {
    margin-bottom: 0;
  }
  .description__item::before {
    top: -117px;
    width: 80px;
    height: 80px;
  }
  .description__item::after {
    content: counter(description);
    position: absolute;
    z-index: -1;
    top: -154px;
    left: 48%;
    font-family: "Oswald", Arial Black, sans-serif;
    font-weight: 400;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
  }
}
@media (min-width: 1440px) {
  .description__item {
    width: 245px;
    margin-right: 0;
  }
  .description__item:nth-last-child(3) {
    margin-bottom: 0;
  }
  .description__item:nth-last-child(4) {
    margin-bottom: 0;
  }
}
.page-footer {
  font-size: 14px;
  line-height: 20px;
}
.footer-logo {
  margin: 0;
  line-height: 0;
}
.footer-logo__link {
  display: inline-block;
}
.footer-logo__link[href]:hover,
.footer-logo__link[href]:focus {
  opacity: 0.8;
}
.footer-logo__link[href]:active {
  opacity: 0.6;
}
.footer-logo__image {
  width: 128px;
  height: 24px;
  vertical-align: bottom;
}
.social {
  width: 100%;
  padding: 22px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
@media (min-width: 768px) {
  .social {
    width: auto;
    padding: 0;
    border-color: transparent;
  }
}
.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__item + .social__item {
  margin-left: 12.86%;
}
@media (min-width: 768px) {
  .social__item + .social__item {
    margin-left: 6.71%;
  }
}
@media (min-width: 1440px) {
  .social__item + .social__item {
    margin-left: 28px;
  }
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: #68b738;
}
.social__link:active .social__icon {
  fill: #68b738;
  opacity: 0.3;
}
.social__icon {
  fill: #666666;
}
.social__icon--vk {
  width: 22px;
  height: 18px;
}
.social__icon--insta {
  width: 17px;
  height: 17px;
}
.social__icon--fb {
  width: 10px;
  height: 19px;
}
@media (min-width: 768px) {
  .social__icon--vk {
    width: 30px;
    height: 16px;
  }
  .social__icon--insta {
    width: 23px;
    height: 23px;
  }
  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}
.mini-footer {
  padding-top: 39px;
  padding-bottom: 22px;
  font-size: 14px;
  line-height: 20px;
  background-color: #f2f2f2;
}
@media (min-width: 768px) {
  .mini-footer {
    padding: 58px 0;
  }
}
@media (min-width: 1440px) {
  .mini-footer {
    padding-top: 60px;
    padding-bottom: 56px;
  }
}
.mini-footer__wrapper {
  margin: 0 auto;
  padding: 0 6.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (min-width: 768px) {
  .mini-footer__wrapper {
    padding: 0 3.91%;
  }
}
@media (min-width: 1440px) {
  .mini-footer__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
@media (min-width: 768px) {
  .mini-footer__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.mini-footer__logo {
  margin-bottom: 31px;
}
@media (min-width: 768px) {
  .mini-footer__logo {
    margin: 0;
  }
}
.mini-footer__social {
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .mini-footer__social {
    margin: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
.mini-footer__copyright {
  width: 100%;
  margin: 0;
}
@media (min-width: 768px) {
  .mini-footer__copyright {
    width: auto;
  }
}
.mini-footer__copyright-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  color: #444444;
}
.mini-footer__copyright-link:hover .mini-footer__copyright-logo,
.mini-footer__copyright-linkfocus .mini-footer__copyright-logo {
  fill: #68b738;
}
.mini-footer__copyright-link:active .mini-footer__copyright-logo {
  fill: #68b738;
  opacity: 0.3;
}
.mini-footer__copyright-logo {
  width: 27px;
  height: 34px;
  fill: #666666;
}
@media (min-width: 768px) {
  .mini-footer__copyright-logo {
    margin-left: 16px;
  }
}
/*for catalog.html*/
.product-properties {
  margin: 0;
  padding: 0;
  list-style: none;
}
.product-properties__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .product-properties__item {
    padding: 6px 0;
    border-bottom: 1px solid #cecece;
  }
}
.catalog {
  font-size: 12px;
  line-height: 16px;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
@media (min-width: 768px) {
  .catalog {
    font-size: 16px;
    border-color: transparent;
  }
}
@media (min-width: 768px) {
  .catalog__wrapper {
    margin: 0 auto;
    padding: 0 6.25%;
  }
}
@media (min-width: 768px) and (min-width: 768px) {
  .catalog__wrapper {
    padding: 0 3.91%;
  }
}
@media (min-width: 768px) and (min-width: 1440px) {
  .catalog__wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.catalog__item {
  padding: 25px 0;
  border-bottom: 1px solid #ededed;
}
.catalog__item:last-child {
  border-bottom: none;
}
@media (min-width: 768px) {
  .catalog__item {
    position: relative;
    width: 45.76%;
    margin-bottom: 140px;
    padding-top: 165px;
    padding-right: 5.23%;
    padding-bottom: 40px;
    padding-left: 5.23%;
    border-bottom-color: transparent;
    background-color: #f2f2f2;
  }
  .catalog__item:nth-last-child(1),
  .catalog__item:nth-last-child(2) {
    margin-bottom: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    width: 245px;
    padding-right: 38px;
    padding-left: 38px;
    margin-bottom: 142px;
  }
  .catalog__item:nth-last-child(3),
  .catalog__item:nth-last-child(4) {
    margin-bottom: 0;
  }
}
.catalog__item-wrapper {
  margin: 0 auto;
  padding: 0 6.25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__item-wrapper {
    padding: 0 3.91%;
  }
}
@media (min-width: 1440px) {
  .catalog__item-wrapper {
    width: 1440px;
    padding: 0 110px;
  }
}
@media (min-width: 768px) {
  .catalog__item-wrapper {
    display: block;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__item-wrapper {
    width: 100%;
  }
}
.catalog__description {
  width: 50%;
}
@media (min-width: 768px) {
  .catalog__description {
    width: 100%;
  }
}
.catalog__title {
  width: 72px;
  margin: 0 0 18px 0;
  font-family: "Oswald", Arial Black, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
.catalog__title a {
  text-decoration: none;
  color: #111111;
}
@media (min-width: 768px) {
  .catalog__title {
    width: 50.1%;
    margin: 0 auto 22px auto;
    font-size: 20px;
    text-align: center;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    width: 126px;
  }
}
.catalog__properties {
  margin-bottom: 33px;
}
.catalog__picture {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  margin: 0;
}
@media (min-width: 768px) {
  .catalog__picture {
    position: absolute;
    top: 126px;
    left: 50%;
    -webkit-transform: translate(-50%, -100%);
            transform: translate(-50%, -100%);
  }
}
.catalog__image-link {
  display: inline-block;
}
.catalog__image {
  width: 140px;
  height: 144px;
  vertical-align: bottom;
}
@media (min-width: 768px) {
  .catalog__image {
    width: 324px;
    height: auto;
  }
}
@media (min-width: 1440px) {
  .catalog__image {
    width: 245px;
  }
}
.catalog__to-buy {
  width: 100%;
  padding-top: 13px;
  padding-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
}
.catalog__item--more-block {
  padding-top: 83px;
  padding-bottom: 25px;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog__item--more-block {
    padding-top: 166px;
    line-height: 20px;
    background-color: transparent;
    border: 1px solid rgba(205, 205, 205, 0.5);
  }
}
.catalog__more-text {
  position: relative;
  width: 100%;
  margin: 0 0 11px 0;
}
.catalog__more-text ::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
          transform: translate(-50%, -100%);
  width: 30px;
  height: 30px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 0.2;
}
@media (min-width: 768px) {
  .catalog__more-text {
    width: 54%;
    margin: 0 auto 28px auto;
  }
  .catalog__more-text ::before {
    top: -50px;
    width: 60px;
    height: 60px;
    background-image: url("../img/icon-plus.svg");
  }
}
@media (min-width: 1440px) {
  .catalog__more-text {
    width: 134px;
  }
}
.catalog__more-bold {
  font-family: "Oswald", Arial Black, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}
@media (min-width: 768px) {
  .catalog__more-bold {
    font-size: 20px;
  }
}
.catalog__text {
  width: 100%;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .catalog__text {
    width: 67.2%;
    margin: 0 auto;
  }
}
@media (min-width: 1440px) {
  .catalog__text {
    width: 167px;
  }
}
.catalog__more-button {
  width: 100%;
  line-height: 20px;
}
@media (min-width: 768px) {
  .catalog__more-button {
    position: absolute;
    bottom: 40px;
    left: 11.42%;
    width: 76.85%;
  }
}

/*# sourceMappingURL=style.css.map */
